doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/build/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/build/tree.css')

  body
    block content
    script(src='/javascripts/build/jquery.min.js')
    script(src='/javascripts/build/bootstrap.min.js')
    script(src='/javascripts/build/vueApp.js')
    